
<% include header %>
<div id="main" class="clearfix">
	<div id="side">
		<dl>
			<dd onclick='onclick_side_main(this.id)' id='side_1'>文章文章</dd>
			<dd onclick='onclick_side_main(this.id)' id='side_2'>文章文章</dd>
		</dl>
	</div>
	<div id="side_main">
		<% for(var i=0; i<data.length; i++) { %>
			<div id="side_<%= data[i].id %>_main">
				<p><%= data[i].content %></p>
			</div>
		<% } %>
	</div>
</div>
<% include footer %>
</body>
</html>