<?php require 'config.php'; ?>

	<?php require 'header.php'; ?>
	<div id="main" class="clearfix">
		<div id="side">
			<dl>
				<dd onclick='onclick_side_main(this.id)' id='side_1'>文章文章</dd>
				<dd onclick='onclick_side_main(this.id)' id='side_2'>文章文章</dd>
			</dl>
		</div>
		<div id="side_main">
			<div id="side_1_main">
				<p>（1）由于我校考位有限，对于往届生，北航报考点仅接受户口在北京或者工作单位在北京（且人事档案也在其工作单位）的往届生 ；对于应届本科毕业生，北航报考点仅接受其本科就读学校在北京的应届生。</p>
				<p>（2）报考北航130500设计学的全国统考考生、报考北航单独考试的考生、报考北航强军计划的考生以及报考北航工商管理硕士（MBA）或公共管理硕士（MPA）的管理类联考的考生，必须选择北航为报考点（即无需满足上述第（1）项要求）。</p>
				<p>（3）北航报考点不接收有3小时以上连续作图考试科目的考生选择。</p>
				<p>（4）由于教室空间有限，考试答题若需要超过A3图纸大小的考生，请不要选择北航作为报考点。</p>
				<p>（5）北航报考点不接收现场交费，选择我校为报考点的考生，必须以网上银行或电话银行的方式，于2014年10月10日至10月31日网上报名期间进行网上支付报考费。未按要求网上支付报名费，北航报考点将不予确认，后果及损失由考生自负。</p>
				<p>（6）考生应在10月10日网上报名前，先自行登录“中国高等教育学生信息网（网址：http://www.chsi.com.cn）查询本人学历（学籍）信息，按照查询到的学籍学历信息进行网上报名的信息填报。未查询到学历（学籍）的考生必须尽早到中国高等教育学生信息网（网址：http://www.chsi.com.cn）指定的学籍学历权威认证机构进行认证（鉴于认证反馈时间将近一个月，请考生务必留出充裕的时间，及早做好认证），在现场确认时将认证报告交报考点核验，否则北航报考点将不予进行现场确认。</p>
				<p>（7）在校研究生报考须在报名前征得所在培养单位同意，现场信息确认时应提交在读学校研究生培养管理部门同意报考的函件（有工作人员签字、联系方式、部门盖章的原件），否则不予确认。</p>
			</div>
			<div id="side_2_main">
				<p>1、报考北京航空航天大学，并且在北航考点参加全国统考、管理类联考方式中的125300会计（专业学位）、法律硕士联考的考生。</p>
				<p>2、报考京外各招生单位，并且在北航考点参加“全国统考”、“管理类联考方式”中的“会计硕士”、“图书情报硕士”和“审计硕士”的考生。</p>
				<p>3、报考以下京内19家招生单位，并且在北航参加全国统考的考生：
				中国工程物理研究院（82817）、中国航空研究院（82901）、北京航空精密机械研究所（82902）、北京航空材料研究院（82913）、北京航空制造工程研究所（82914）、中国航空规划建设发展有限公司（82920）、中国航空工业总公司第六二八研究所（82931）、 北京长城计量测试技术研究所（82932）、华北计算机系统工程研究所（83001）、华北计算技术研究所（83002）、北京真空电子技术研究所（83003）、华北光电技术研究所（83011）、电信科学技术研究院（84001）、中国舰船研究院（86201）、北京有色金属研究总院（86403）、装备学院（90033）、中国航天员科研训练中心（90109）、北京跟踪与通信技术研究所（90110）、北京系统工程研究所（90114）。</p>
				<p>4、报考北京航空航天大学，并且参加单独考试或强军计划的考生；</p>
				<p>5、报考北京航空航天大学工商管理硕士（MBA）或公共管理硕士（MPA）的考生；</p>
			</div>
		</div>
	</div>
	<?php require 'footer.php'; ?>
</body>
</html>