<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>土豆装修设计室</title>
    <meta name="keywords" content="土豆装修设计室,装修设计,土豆"/>
    <meta name="description" content="土豆装修设计室,装修设计,土豆"/>
    <link rel="stylesheet" type="text/css" href="css/lib/jquery.fullPage.css" />
    <!-- build:css css/page/index.css -->
    <link rel="stylesheet" type="text/css" href="css/page/index.css" />
    <!-- endbuild -->
    <script type="text/javascript" src="js/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.fullPage.min.js"></script>
    <% include common/baidu_hm %>
</head>
<body>
    <% include td_header %>
    <nav class="menu">
        <ul id="menu" class="clearfix">
            <li><a href="#page1"></a></li>
            <li><a href="#page2"></a></li>
            <li><a href="#page3"></a></li>
            <li><a href="#page4"></a></li>
        </ul>
    </nav>
    <div id="fullpage">
        <div class="section p1">
            <img src="/images/home/1.jpg" alt="" />
        </div>
        <div class="section p2">
            <img src="/images/home/2.jpg" alt="" />
        </div>
        <div class="section p3">
            <img src="/images/home/3.jpg" alt="" />
        </div>
        <div class="section p4">
            <img src="/images/home/4.jpg" alt="" />
        </div>
        <div class="section fp-auto-height p5">
            <div id="footer">
                <p></p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $mlNav = $('.td_header');
            $('#fullpage').fullpage({
                anchors: ['page1', 'page2', 'page3', 'page4', 'page5'],
                menu: '#menu',
                // 页面结构生成后的回调函数
                afterRender: function(anchorLink, index, slideAnchor, slideIndex) {
                    $('a[href="#page1"]').parent('li').addClass('current');
                },
                // 滚动完的回调函数
                afterLoad: function(anchorLink, index) {
                },
                // 滚动前的回调函数
                onLeave: function(index, nextIndex, direction) {
                    $('a[href="#page'+index+'"]').parent('li').removeClass('current');
                    $('a[href="#page'+nextIndex+'"]').parent('li').addClass('current');

                    if (index == 2 && direction == 'up'){
                        $mlNav.animate({
                            top: 0
                        }, 680);
                    } else {
                        $mlNav.animate({
                            top: -80
                        }, 400);
                    }
                }
            });
        });
    </script>
</body>
</html>