<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/css/page/about.css"/>
    <script src="/js/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
<% include td_header %>
<div class="container">
    <div id="side">
        <dl>
            <dd>标题</dd>
            <dd>标题</dd>
        </dl>
    </div>
    <div id="side_main">
    </div>
</div>
<% include footer %>
</body>
</html>