<% include header %>
<div id="main" class="clearfix">
    <div class="show_container">
        <ul class="clearfix">
            <li>
                <div class="item_content">
                    <img src="/images/1.jpg">
                </div>
                <div class="item_footer">
                    文博园101室
                </div>
            </li>
            <li>
                <div class="item_content">
                    <img src="/images/1.jpg">
                </div>
                <div class="item_footer">
                    文博园101室
                </div>
            </li>
            <li>
                <div class="item_content">
                    <img src="/images/1.jpg">
                </div>
                <div class="item_footer">
                    文博园101室
                </div>
            </li>
            <li>
                <div class="item_content">
                    <img src="/images/1.jpg">
                </div>
                <div class="item_footer">
                    文博园101室
                </div>
            </li>
            <li>
                <div class="item_content">
                    <img src="/images/1.jpg">
                </div>
                <div class="item_footer">
                    文博园101室
                </div>
            </li>
            <li>
                <div class="item_content">
                    <img src="/images/1.jpg">
                </div>
                <div class="item_footer">
                    文博园101室
                </div>
            </li>
            <li>
                <div class="item_content">
                    <img src="/images/1.jpg">
                </div>
                <div class="item_footer">
                    文博园101室
                </div>
            </li>
        </ul>
    </div>
</div>
<% include footer %>
</body>

<script type="text/javascript">
$(function() {
    $("#nav").lavaLamp({
        fx: "backout",
        speed: 700,
        click: function(b, a) {
            return true;
        }
    })
});
</script>
</html>