<% include header %>
<div id="main" class="clearfix">
    <div class="show_container">
        <ul class="clearfix">
            <% for(var i=0; i<list.length; i++) { %>
                <li>
                    <div class="item_content">
                        <img src="<%= list[i].image_s %>">
                    </div>
                    <div class="item_footer">
                        <%= list[i].content %>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</div>
<!-- <% include footer %> -->
</body>
</html>